# MongoDB
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.xxxxx.mongodb.net/masjid-manager?retryWrites=true&w=majority

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=<random-32-char-string>

# App
NEXT_PUBLIC_APP_NAME=Masjid Manager
NEXT_PUBLIC_DEFAULT_COUNTRY_CODE=91
NEXT_PUBLIC_DEFAULT_CURRENCY=₹

# Vercel Cron (production only)
CRON_SECRET=<random-string>
